<h2 class="text-center pt-5">Kreditkarten</h2>
<div class="table-responsive-md  table-hover pt-5 pb-3 px-5">
    <table class="table table-striped container-fluid">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Kartennummer</th>
                <th scope="col">CVV</th>
                <th scope="col">Gültigkeitsdatum</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let creditCard of creditCards | async">
                <th scope="row">{{creditCard.id}} </th>
                <td>{{creditCard.owner}}</td>
                <td>{{creditCard.number}}</td>
                <td>{{creditCard.cvv}}</td>
                <td>{{creditCard.expiration}}</td>
            </tr>
        </tbody>
    </table>

</div>