<h2 class="text-center pt-5">Kreditkarten</h2>
<div class="table-responsive-md  table-hover pt-5 pb-3 px-5">
    <table class="table table-striped container-fluid">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Kartennummer</th>
                <th scope="col">CVV</th>
                <th scope="col">Gültigkeitsdatum</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>